# Entornos virtuales
venv/
.venv/
env/
ENV/
env.bak/
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de configuración de editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*~

# Archivos de configuración de Neovim y Vim
*.sw?
.session
*.un~
.vimrc
.vim/
.netrwhist

# Django specific
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
/db.sqlite3
/staticfiles/
media/

# Archivos de migraciones
**/migrations/*
!**/migrations/__init__.py

# Archivos de configuracion locales (si usas .env)
.env
.env.local
.env.*.local

# Archivos de configuración para tests de Django
.tox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Otros
*.DS_Store

