{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Vet</title>
    <link rel="stylesheet" href="{% static 'turno/style.css' %}">
    <link rel="icon" href="{% static 'img/iconhosp.png'%}" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Hospital Veterinario - UNLAR</h1>
    </header>

    <main>
        
        <h2> Turnos </h2>
        {{ tittle }}
        <ul>
            {% for turno in object_list %}
            <li> Turno: {{turno.nombre}} fecha {{turno.fecha}} hora{{turno.hora}}</li>
            {% empty %}
            <li>Sin Registros.</li>
            {% endfor %}
        </ul>
        
       
        <div style="margin-top: 20px;">
            <a href="{% url 'turno-create' %}" class="btn-create">Agregar Turno</a>
        </div>
    </main>
    
        

        
    </main>
    <footer>
        <p>© 2024 Hospital Veterinario</p>
    </footer>
    
</body>