{% load static %}
<link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}">
<link rel="icon" href="{% static 'img/iconhosp.png'%}" type="image/x-icon">
<title>Registrar Veterinarios</title>
<div class="form-container">
    <h2 class="form-title">Registro de Veterinarios</h2>
    <form method="post" class="custom-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar" class="submit-btn"/>
        <a href="{% url 'veterinario-list' %}" class="btn-lista">Ver listado</a>
        <div id="registration-number" class="registration-number"></div>
    </form>
</div>
