{% load static %}
<link rel="stylesheet" href="{% static 'css/veterinario/style2.css' %}">
<link rel="icon" href="{% static 'img/veterinario/Actualizar.png'%}" type="image/x-icon">
<title>Registrar Veterinarios</title>
<div class="form-container">
    <h2 class="form-title">Registro de veterinarios</h2>

    <form method="post">
    {% csrf_token %} 
    {{ form.as_p }}

    <input type="submit" value="Guardar" class="submit-btn"/>
        <div id="registration-number" class="registration-number"></div>
    </form>
  </div>