{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}" />
    <link
      rel="icon"
      href="{% static 'img/iconhosp.png'%}"
      type="image/x-icon"
    />
    <title>Crear Historial Médico</title>
  </head>
  <body>
    <div class="form-container">
      <h1>Crear Historial Médico</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Guardar</button>
        <a href="{% url 'historial_list' %}" class="btn-lista"
          >Volver a la lista de historiales</a
        >
        <div id="registration-number" class="registration-number"></div>
      </form>
    </div>
  </body>
</html>
